.App {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 10px;
  column-gap: 10px;
}

Form {
  width: 50%;
  margin-left: 50px;
  padding: 50px;
}
Form Label {
  text-align: left !important;
  font-weight: bold;
}
